.footer__section {
    padding: 1.5rem 1rem;
    background-color: var(--bg);

    .footer__container {

        .footer__layout {

            .footer__start {
               display: none;
            }

            .footer__middle {
                row-gap: var(--gap-y);

                .link__block {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: .5rem;

                    .link__wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: .25rem;

                        .link__hading {
                           opacity: .6; 
                        }

                        .link {
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }
            }

            .footer__end {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: .5rem;

                .legal {
                    display: flex;
                    gap: .5rem;

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }
    }
}