<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Footer</title>

        <link rel="stylesheet" href="footer.css">

        <link rel="stylesheet" href="/layx/main/base/variable.css">
        <link rel="stylesheet" href="/layx/main/base/base.css">
        <link rel="stylesheet" href="/layx/main/base/scrollbar.css">
        <link rel="stylesheet" href="/layx/main/typography/typography.css">
        <link rel="stylesheet" href="/layx/main/container/container.css">
        <link rel="stylesheet" href="/layx/main/layout/layout.css">
        <link rel="stylesheet" href="/layx/helpers/layout/layuot_helper.css">

    </head>

    <body>
        <footer class="footer__section">
            <container class="footer__container">
                <layout class="footer__layout gap-x gap-y-3">
                    <div class="x-12 sub-x footer__start"></div>
                    <div class="x-12 sub-x footer__middle">
                        <div class="x-12 x-lg-4 brand">
                            <h3>Logo</h3>
                            <p>Some brand text.</p>
                        </div>
                        <div class="x-12 x-lg-8 link__block">
                            <div class="link__wrapper">
                                <h5 class="link__hading">Section</h5>
                                <a class="link" href="">Home</a>
                                <a class="link" href="">Features</a>
                                <a class="link" href="">Pricing</a>
                                <a class="link" href="">FAQs</a>
                                <a class="link" href="">About</a>
                            </div>
                            <div class="link__wrapper">
                                <h5 class="link__hading">Section</h5>
                                <a class="link" href="">Home</a>
                                <a class="link" href="">Features</a>
                                <a class="link" href="">Pricing</a>
                                <a class="link" href="">FAQs</a>
                                <a class="link" href="">About</a>
                            </div>
                            <div class="link__wrapper">
                                <h5 class="link__hading">Section</h5>
                                <a class="link" href="">Home</a>
                                <a class="link" href="">Features</a>
                                <a class="link" href="">Pricing</a>
                                <a class="link" href="">FAQs</a>
                                <a class="link" href="">About</a>
                            </div>
                        </div>
                    </div>
                    <div class="x-12 sub-x footer__end">
                        <span>© 2024 Company, Inc</span>
                        <div class="legal">
                          <a href="">Terms</a>
                          |
                          <a href="">Privacy</a>
                        </div>
                    </div>
                </layout>
            </container>
        </footer>
    </body>

</html>