draggable, .draggable {
    --edge-offset: 5px;
    --bg: var(--surface-color, rgb(250, 250, 250));

    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 5;
    background: var(--bg);
    transition: var(--transition, .6s);

    .draggable-area {
        padding-block: 1rem;
        user-select: none;
        cursor: move;
    }

    &:not(:has(.draggable-area)) {
        user-select: none;
        cursor: move;
    }

    &.left {
        translate: var(--edge-offset, 0px) var(--edge-offset, 0px);

        &.middle {
            translate: var(--edge-offset, 0px) calc(50dvh - 50%);
        }

        &.bottom {
            translate: var(--edge-offset, 0px) calc(100dvh - (100% + var(--edge-offset, 0px)));
        }
    }

    &.right {
        translate: calc(100dvw - (100% + var(--edge-offset, 0px))) var(--edge-offset, 0px);

        &.middle {
            translate: calc(100dvw - (100% + var(--edge-offset, 0px))) calc(50dvh - 50%);
        }

        &.bottom {
            translate: calc(100dvw - (100% + var(--edge-offset, 0px))) calc(100dvh - (100% + var(--edge-offset, 0px)));
        }
    }

    &.center {
        translate: calc(50dvw - 50%) var(--edge-offset, 0px);

        &.middle {
            translate: calc(50dvw - 50%) calc(50dvh - 50%);
        }

        &.bottom {
            translate: calc(50dvw - 50%) calc(100dvh - (100% + var(--edge-offset, 0px)));
        }
    }

    &.bottom {
        translate: var(--edge-offset, 0px) calc(100dvh - (100% + var(--edge-offset, 0px)));
    }
}