/* Other color variables (light theme) */
:root, [theme=light] {
    /* Colors */
    --brand-color: #2DD4BF;
    --primary-color: #3B82F6;
    --secondary-color: #94A3B8;

    /* Surface Colors */
    --surface-2-color: #F8FAFC;
    --surface-3-color: #F1F5F9;
    --surface-4-color: #E2E8F0;

    /* Text Colors */
    --text-2-color: #181818;
    --text-3-color: #323339;
    --text-4-color: #434954;

    /* States */
    --success-color: #10B981;
    --warning-color: #F59E0B;
    --danger-color: #EF4444;
    --info-color: #0EA5E9;
}


/* Other color variables (dark theme) */
[theme=dark] {
    /* Colors */
    --brand-color: #5EEAD4;
    --primary-color: #60A5FA;
    --secondary-color: #64748B;

    /* Surface Colors */
    --surface-2-color: #0F172A;
    --surface-3-color: #1E293B;
    --surface-4-color: #334155;

    /* Text Colors */
    --text-2-color: #F9FAFB;
    --text-3-color: #D1D5DB;
    --text-4-color: #9CA3AF;

    /* States */
    --success-color: #34D399;
    --warning-color: #FBBF24;
    --danger-color: #F87171;
    --info-color: #38BDF8;
}