:root {
    /* space */
    --space-m: calc(var(--base-space) / 2);
    --space-2: calc(var(--base-space) * 2);
    --space-3: calc(var(--base-space) * 3);
    --space-4: calc(var(--base-space) * 4);
    --space-5: calc(var(--base-space) * 5);
    --space-6: calc(var(--base-space) * 6);

    /* radius */
    --radius-m: calc(var(--base-radius) / 2);
    --radius-2: calc(var(--base-radius) * 2);
    --radius-3: calc(var(--base-radius) * 3);
    --radius-4: calc(var(--base-radius) * 4);
    --radius-5: calc(var(--base-radius) * 5);
    --radius-6: calc(var(--base-radius) * 6);

    /* vpu */
    --vpu-m: calc(var(--base-vpu) / 2);
    --vpu-2: calc(var(--base-vpu) * 2);
    --vpu-3: calc(var(--base-vpu) * 3);
    --vpu-4: calc(var(--base-vpu) * 4);
    --vpu-5: calc(var(--base-vpu) * 5);
    --vpu-6: calc(var(--base-vpu) * 6);

    /* duration */
    --duration-m: calc(var(--base-duration) / 2);
    --duration-2: calc(var(--base-duration) * 2);
    --duration-3: calc(var(--base-duration) * 3);
    --duration-4: calc(var(--base-duration) * 4);
    --duration-5: calc(var(--base-duration) * 5);
    --duration-6: calc(var(--base-duration) * 6);
}