/* Important variables */
:root {
    /* Typography */
    --font-family: 'Red Hat Display', sans-serif;
    --font-size: initial;
    --font-weight: 500;
    --line-height: initial;

    /* Base Spacing and Sizing */
    --base-space: .5rem;
    --base-radius: .5rem;
    --base-vpu: calc(.1vh + .1vw);

    /* Animation and Transitions */
    --base-duration: .6s;

    /* Others */
    --space: var(--base-space);
    --radius: var(--base-radius);
    --vpu: var(--base-vpu);
    --duration: var(--base-duration);
}


/* Important color variables (light theme) */
:root, [theme=light] {
    --color-rgb: 0, 0, 0;
    --bg-color-rgb: 255, 255, 255;
    --heading-color: #000;
    --paragraph-color: #353c4a;
    --link-color: #2da5e6;
    --surface-color: rgb(250, 250, 250);
    --accent-color: #bae7ff;

    --scrollbar-color: rgba(var(--color-rgb), .3);
    --color: rgb(var(--color-rgb));
    --bg-color: rgb(var(--bg-color-rgb));

    color-scheme: light;
}

/* Important color variables (dark theme) */
[theme=dark] {
    --color-rgb: 255, 255, 255;
    --bg-color-rgb: 0, 0, 0;
    --heading-color: #fff;
    --paragraph-color: #f1f1f1;
    --link-color: #70cdff;
    --surface-color: rgb(30, 30, 30);
    --accent-color: #2da5e6;

    color-scheme: dark;
}