.block__section {

    .block__container {

        .block__layout {
            display: grid;
            place-items: center;
            min-height: 600px;
            background-color: #f8fafc;
            margin-top: 2.5rem;
            border-radius: .5rem;

            [theme=dark] & {
                background-color: #18181b;
            }
        }
    }
}