@import url(../../../layx/components/carousel/carousel.css);
@import url(../../../layx/components/pagination/pagination.css);

.blog__hero_section {
    padding-block: 1.5rem;

    @media (width >=992px) {
        padding-block: 2.5rem;
    }

    .blog__hero_container {
        margin-inline: 0;

        .blog__hero_carousel {
            --height: 215px;

            @media (width >=992px) {
                --height: 500px;
            }

            .main {
                gap: .5rem;
                scroll-margin-inline-start: var(--edge-offset-x);

                .item {
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    padding: 1.25rem;
                    width: calc(100% - var(--edge-offset-x) * 2);
                    background-size: cover;
                    background-image: var(--bg-url);
                    background-position: center;
                    border-radius: .5rem;

                    @media (width >=992px) {
                        padding: 2rem;
                    }

                    &:first-child {
                        margin-inline-start: var(--edge-offset-x);
                    }

                    &:last-child {
                        margin-inline-end: var(--edge-offset-x);
                    }

                    .text__wrapper {
                        max-width: 60ch;
                        translate: 0 25%;
                        opacity: 0;
                        transition-duration: .3s;
                        transition-delay: .6s;

                        .active & {
                            translate: 0 0;
                            opacity: 1;
                        }

                        .blog__heading {
                            color: #fff;
                        }

                        .blog__description {
                            color: #f0f0f0;
                        }

                        .read__btn {
                            display: flex;
                            gap: .25rem;
                            width: fit-content;
                            color: rgb(65, 65, 65);
                            background-color: #fff;

                            .icon {
                                height: 1lh;
                            }
                        }
                    }

                    .author__wrapper {
                      display: none;  
                      color: #fff;
                      margin-bottom: 2.5rem;

                      @media (width >=992px) {
                        display: flex;
                    }
                    }
                }
            }

            .indicator-wrapper {
                inset: auto var(--edge-offset-x) 0 auto;

                @media (width >=992px) {
                    inset: auto calc(var(--edge-offset-x) + .75rem) var(--edge-offset) auto;
                }
            }
        }
    }
}

.blog__section {
    padding-block: 2.5rem;

    .blog__container {

        .blog__head_wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .75rem;

            .heading {
               
            }

            .options__wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: .5rem;
            }

            .tags__wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: .5rem;
                padding: .5rem;
                background-color: var(--surface-color);
                border-radius: .5rem;
                overflow-x: auto;

                .tag {
                    --padding-y: .85rem;
                    background-color: none;
                    transition: .3s;

                    &.active, &:hover{
                        background-color: var(--bg-color);

                        &.active {
                            pointer-events: none;
                        }
                    }
                }
            }

            .search__wrapper {
                display: flex;
                gap: .5rem;
                flex-grow: 1;
                border-radius: .5rem;

                .search__field {
                    margin: 0;
                }

                .search__btn {
                    --padding-x: 1.25rem;
                    --bg: var(--bg-color);

                    .icon {
                        opacity: .6;
                        height: 1.5rem;
                    }

                    &::before {
                        display: none;
                    }
                }
            }
        }

        .blog__layout {
            padding-block: 1.5rem;

            .blog__wrapper {

                .image__wrapper {
                    position: relative;

                    .blog__image {
                        border-radius: .5rem;
                        aspect-ratio: 16 / 9;
                        object-fit: cover;
                    }

                    .tags__wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        gap: .5rem;
                        align-content: start;
                        justify-content: end;
                        position: absolute;
                        inset: 0;
                        padding: .5rem;

                        .tag {
                            display: block;
                            padding: .5rem 1rem;
                            font-size: .9rem;
                            color: #fff;
                            background-color: rgba(100, 100, 100, .6);
                            border-radius: 50px;
                        }
                    }
                }

                .meta__info_wrapper {
                    padding-block: .5rem;

                    .meta__info {
                        opacity: .6;
                        font-size: .9rem;
                    }
                }

                .blog__description {
                    opacity: .8;
                }

                .author__wrapper {
                    margin-top: 1rem;
                }

            }
        }

        .blog__pagination {
            margin-top: 1.5rem;
            width: fit-content;
            margin-inline: auto;
            border-radius: .5rem;
        }
    }
}

.blog__heading , .blog__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.anchor__wrapper {
    color: inherit;
    display: contents;
}

.author__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    .avatar__img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .author__name, .author__role {
        display: block;

        &.author__role {
            font-size: .8rem;
            opacity: .8;
        }
    }
}