@import url(../../../layx/components/carousel/carousel.css);

.blog__hero_section {
    padding-block: 2.5rem;

    .blog__hero_container {
        margin-inline: 0;

        .blog__hero_carousel {
            --height: 275px;

            @media (width >=992px) {
                --height: 500px;
            }

            .main {
                gap: .5rem;
                scroll-margin-inline-start: var(--edge-offset-x);

                .item {
                    display: grid;
                    align-items: end;
                    padding: 1.5rem;
                    width: calc(100% - var(--edge-offset-x) * 2);
                    background-size: cover;
                    background-image: var(--bg-url);
                    background-position: center;
                    border-radius: .5rem;

                    @media (width >=992px) {
                        padding: 2rem;
                    }

                    &:first-child {
                        margin-inline-start: var(--edge-offset-x);
                    }

                    &:last-child {
                        margin-inline-end: var(--edge-offset-x);
                    }

                    .text__wrapper {
                        max-width: 60ch;
                        translate: 0 25%;
                        opacity: 0;
                        transition-duration: .3s;
                        transition-delay: .6s;

                        .active & {
                            translate: 0 0;
                            opacity: 1;
                        }

                        .heading {
                            color: #fff;
                        }

                        .description {
                            color: #eaeaea;
                        }

                        .read__btn {
                            display: flex;
                            gap: .25rem;
                            width: fit-content;
                            color: rgb(65, 65, 65);
                            background-color: #fff;

                            .icon {
                                height: 1lh;
                            }
                        }

                    }
                }
            }

            .indicator-wrapper {
                inset: auto var(--edge-offset-x) 0 auto;

                @media (width >=992px) {
                    inset: auto calc(var(--edge-offset-x) + .75rem) var(--edge-offset) auto;
                }
            }
        }
    }
}

.blog__section {
    padding-block: 2.5rem;

    .blog__container {

        .blog__layout {
            padding-block: 1.5rem;

            .blog__wrapper {

                .anchor__wrapper {
                  color: inherit;
                }

                .image__wrapper {
                    position: relative;

                    .blog__image {
                        border-radius: .5rem;
                    }
                }

                .meta__info_wrapper {
                    padding-block: .5rem;

                    .meta__info {
                        opacity: .6;
                        font-size: .9rem;
                    }
                }

                .blog__heading, .blog__description {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                }

                .blog__description {
                  opacity: .8;
                }

                .author__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: .5rem;
                    margin-top: 1rem;

                    .avatar__img {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                    }

                    .author__name, .author__role {
                        display: block;

                        &.author__role {
                            font-size: .8rem;
                            opacity: .8;
                        }
                    }
                }
            }
        }
    }
}