@import url(../../../layx/components/carousel/carousel.css);

.blog__hero_section {
    padding-block: 2.5rem;

    .blog__hero_container {
        margin-inline: 0;

        .blog__hero_carousel {
            .main {
                gap: .5rem;
                scroll-margin-inline-start: var(--edge-offset-x);

                .item {
                    display: grid;
                    align-items: end;
                    padding: 2rem;
                    width: calc(100% - var(--edge-offset-x) * 2);
                    background-size: cover;
                    background-image: var(--bg-url);
                    background-position: center;
                    border-radius: .5rem;

                    &:first-child {
                        margin-inline-start: var(--edge-offset-x);
                    }

                    &:last-child {
                        margin-inline-end: var(--edge-offset-x);
                    }

                    .text__wrapper {
                        max-width: 60ch;
                        translate: 0 25%;
                        opacity: 0;
                        transition-duration: .3s;
                        transition-delay: .6s;

                        .active & {
                            translate: 0 0;
                            opacity: 1;
                        }

                        .heading {
                            color: #fff;
                        }

                        .description {
                            color: #eaeaea;
                        }

                        .read__btn {
                            display: flex;
                            gap: .25rem;
                            width: fit-content;
                            color: rgb(65, 65, 65);
                            background-color: #fff;

                            .icon {
                                height: 1lh;
                            }
                        }

                    }
                }
            }

            .indicator-wrapper {
                inset: auto calc(var(--edge-offset-x) + .75rem)  var(--edge-offset) auto;
            }
        }
    }
}

.blog__section {
    padding-block: 2.5rem;

    .blog__container {

        .blog__layout {
            padding-block: 1.5rem;

            .blog__wrapper {
                min-height: 250px;
                background-color: aliceblue;
            }
        }
    }
}