.components__section {

    .components__hero_layout {

        .text__wrapper {
            margin-top: 5%;

            .components__heading,
            .components__subheading {
                text-align: center;

                &.components__subheading {
                    max-width: 60ch;
                    margin-inline: auto;
                }
            }
        }
    }

    .components__container {

        .components__category_text {
            margin-block: 2.5rem .5rem;
        }

        .components__layout {
            padding-block: .5rem;

            .components__box {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .thumbnail {
                    border-radius: .5rem;
                }
            }

            h4,h6 {
                margin: unset;
            }
        }
    }
}