@view-transition {
    navigation: none;
}

.doc__section {
    background-color: #fdf4ff;

    [theme=dark] & {
        background-color: var(--bg-color);

        [data-code-lang] {
            background-color: var(--bg-color);
        }
    }

    .doc__container {
        position: relative;

        .doc__layout {
            padding-top: 5rem;

            .side__nav,
            .main,
            .side__progress {
                padding: 1.5rem;
                background-color: var(--bg-color);

                [theme=dark] & {
                    background-color: var(--bg);
                }
            }

            .side__nav,
            .side__progress {
                height: 100dvh;
                position: sticky;
                top: 0;
                overflow-y: auto;
                border-radius: .5rem;
                scrollbar-width: thin;
            }

            .side__nav {
               
                @media (width < 992px) {
                    position: fixed;
                    z-index: 3;
                    top:5rem;
                    left: auto;
                    right: 0;
                    height: calc(100dvh - 5rem);
                    border-radius: .5rem 0 0 0;
                    translate: 100%;
                    transition: .6s;

                    &[open] {
                        translate: 0; 
                    }
                }

                @media (width >=992px) {
                    top:0;
                    position: sticky;
                }

                .links__wrapper {

                    &:not(:last-child) {
                        margin-bottom: 2rem;
                    }

                    .links {
                        display: flex;
                        flex-direction: column;

                        .link {
                            text-decoration: none;
                            color: inherit;
                            padding-block: .15rem;
                            margin-block: .05rem;
                            padding-inline-start: .75rem;
                            border-left: 2px solid #efefef;

                            &.active {
                                border-left: 2px solid #67e8f9;
                                pointer-events: none;
                            }

                            &:hover {
                                border-left: 2px solid #afafaf;
                            }

                            [theme=dark] & {
                                border-left: 2px solid #3e3e3e;

                                &.active {
                                    border-left: 2px solid #06b6d4;
                                }

                                &:hover {
                                    border-left: 2px solid #747474;
                                }
                            }
                        }
                    }
                }
            }

            .main {
                min-height: 100vh;
                border-radius: .5rem;
            }

            .side__progress {
                display: none;

                @media (width >=992px) {
                    display: block;
                }
            }
        }
    }
}