.doc__section {
    background-color: #fdf4ff;

    [theme=dark] & {
        background-color: var(--bg-color);

        [data-code-lang] {
            background-color: var(--bg-color);
        }
    }

    .doc__container {
        --edge-offset-x: 0;
        position: relative;

        .doc__layout {
            padding-top: 5rem;

            & > .side__nav , & > .main , & > .side__progress {
                padding: 1.5rem;
                background-color: var(--bg-color);

                [theme=dark] & {
                    background-color: var(--bg);
                }
            }

            & > .side__nav, & > .side__progress {
                height: 100dvh;
                position: sticky;
                top: 0;
                overflow-y: auto;
                border-radius: .5rem;
                scrollbar-width: thin;
            }

            & > .side__nav {
               
                @media (width < 992px) {
                    position: fixed;
                    z-index: 3;
                    top:5rem;
                    left: auto;
                    right: 0;
                    height: calc(100dvh - 5rem);
                    border-radius: .5rem 0 0 0;
                    translate: 100%;
                    transition: .6s;
                    overscroll-behavior: contain;

                    &[open] {
                        translate: 0; 
                    }
                }

                @media (width >=992px) {
                    top:0;
                    position: sticky;
                }

                .links__wrapper {

                    &:not(:last-child) {
                        margin-bottom: 2rem;
                    }

                    .links {
                        display: flex;
                        flex-direction: column;

                        .link {
                            text-decoration: none;
                            color: inherit;
                            padding-block: .15rem;
                            margin-block: .05rem;
                            padding-inline-start: .75rem;
                            border-left: 2px solid #efefef;

                            &.active {
                                border-left: 2px solid #67e8f9;
                                pointer-events: none;
                            }

                            &:hover:not(.active) {
                                border-left: 2px solid #afafaf;
                            }

                            [theme=dark] & {
                                border-left: 2px solid #3e3e3e;

                                &.active {
                                    border-left: 2px solid #06b6d4;
                                }

                                &:hover {
                                    border-left: 2px solid #747474;
                                }
                            }
                        }
                    }
                }
            }

           & > .main {
                min-height: 100vh;
                border-radius: .5rem;

                @media (width <992px) {
                border-radius: 2rem 2rem 0 0;
                }

                .doc__uc_text {
                    padding: 1rem;
                    color: #2a2a2a;
                    background-color: #fefce8;
                    border-radius: .5rem;
                }

                .doc__example_box {
                    display: block;
                    padding: 1rem;
                    margin-block: .5rem;
                    text-decoration: none;
                    background-color: #ecfdf5;
                    border-radius: .5rem;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .h6 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0;

                        .icon {
                            height: 1.4lh;
                            padding: .25em;
                            background-color: var(--bg-color);
                            border-radius: 50%;

                            use {
                                opacity: .6;
                            }
                        }
                    }

                    [theme=dark] & {
                        background-color: #022c22;
                    }

                }

                .doc__block {
                    &:not(:last-child) {
                        margin-bottom: 1.5rem;
                    }
                }

                .doc__example_iframe {
                    width: 100%;
                    height: 350px;
                    border-radius: .5rem;
                }

                h6:not(.default) {
                    scroll-margin-top: 6.5rem;
                }
            }

            & > .side__progress {
                display: none;

                @media (width >=992px) {
                    display: block;
                }

                .link-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
    
                    a {
                        text-decoration: none;
                        color: inherit;
                        opacity: .8;
                    }
    
                    a:not(.subheading) {
                        font-size: 1.25rem;
                    }
    
                    .subheading {
                        padding-left: 1rem;
                        transition: .3s;

                        &:not(.active) {
                            opacity: .7;
                        }

                        &.active {
                            opacity: 1;
                            color: #0ea5e9;
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .side__nav_toggler {
            --radius: 5rem;
            position: fixed;
            top: 5.5rem;
            right: 1.25rem;
            height: 2rem;
            width: 2rem;
            z-index: 2;

            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 55%;
            background-color: #f0fdf4;

            @media (width >=992px) {
                display: none;
            }
        }
    }
}