.hero__section {

  .hero__container {

    .hero__layout {
      --num-x: 6;
      --grid-color: rgba(0, 225, 255, 0.3);
      --gap-color: transparent;
      min-height: 90svh;
      align-items: center;
      background:
        linear-gradient(to bottom, var(--bg-color) 0% 45%, transparent, var(--bg-color) 100%),
        repeating-linear-gradient(to right,
          var(--grid-color),
          var(--grid-color) calc(100% / var(--num-x, 12) - var(--gap-x)),
          var(--gap-color) calc(100% / var(--num-x, 12) - var(--gap-x)),
          var(--gap-color) calc(100% / var(--num-x, 12) + (var(--gap-x) / 12)));

      [theme=dark] & {
        --grid-color: rgb(0, 240, 255);
      }

      @media (width >=992px) {
        --num-x: 12;
        min-height: 100svh;
      }

      .hero__wrapper {
        margin-bottom: 15%;

        .hero__heading {
          text-align: center;
          text-wrap: pretty;
        }

        .hero__subheading {
          text-align: center;
        }

        .hero__btn_wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: var(--base-space);
          padding-inline: .5rem;
          margin-top: .5rem;

          .learn__btn {
            --bg: rgba(var(--bg-color-rgb), 0.8);
            display: flex;
            gap: calc(var(--base-space) / 2);
          }

          .download__btn {}
        }
      }
    }
  }
}

.inspire__section {
  margin-block: 10vh;
  height: 300vh;
  overflow-x: clip;
  view-timeline: --inspire-sec;


  .inspoire__layout {
    position: sticky;
    top: 0;
    align-items: center;
    height: 100vh;
    background:
      conic-gradient(from 290deg at 35% 40%, #cef2ff 0%, transparent 2.5%),
      conic-gradient(from 110deg at 65% 60%, #cef2ff 0%, transparent 2.5%);

    .ins__layx_text {
      font-size: clamp(5rem, 15vw, 12.5rem);
      background: linear-gradient(135deg, #dcf6ff, #56cdf9);
      color: transparent;
      width: fit-content;
      margin-inline: auto;
      -webkit-background-clip: text;
    }

    .reveal__text_wrapper {
      display: flex;
      justify-content: center;
      gap: .75rem;

      h2 {
        margin: unset;
        line-height: 1;
      }

      ._is {
        opacity: .6;
        z-index: -1;
      }

      .swap__text_wrapper {
        height: 1em;

        .text_1 {
          translate: 0 100%;
          animation: linear ins_text_1 forwards;
          animation-range: contain 30% contain 55%;
        }

        .text_2 {
          animation: linear ins_text_2 forwards;
          animation-range: contain 55% contain 80%;
        }

        .text_3 {
          translate: 0 -100%;
          animation: linear ins_text_3 forwards;
          animation-range: contain 80% contain 100%;
        }

        .text_1,.text_2,.text_3 {
          display: block;
          animation-timeline: --inspire-sec;
          opacity: 0;
        }

      }
    }

    &::before {
      animation: linear ins_left forwards;
      clip-path: polygon(0 0, 85% 0, 85% 10%, 100% 15%, 100% 95%, 75% 95%, 60% 100%, 0% 100%);

      @media (width >=992px) {
        clip-path: polygon(0 0, 70% 0, 75% 5%, 100% 5%, 100% 80%, 95% 85%, 95% 100%, 0 100%);
      }
    }

    &::after {
      right: 0;
      animation: linear ins_right forwards;
      clip-path: polygon(15% 0, 15% 10%, 0 15%, 0 95%, 30% 95%, 40% 100%, 100% 100%, 100% 0%);
     
      @media (width >=992px) {
        clip-path: polygon(0 5%, 25% 5%, 30% 0, 100% 0%, 100% 100%, 5% 100%, 5% 85%, 0 80%);
      }
    }

    &::before, &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 50%;
      background-color: rgba(220, 250, 255, 0.3);
      backdrop-filter: blur(15px);
      animation-timeline: --inspire-sec;
      animation-range: contain 0% contain 40%;
    }
  }
}

@keyframes ins_left {
  from {
    translate: 0 0;
  }

  to {
    translate: -100% 0;
  }
}

@keyframes ins_right {
  from {
    translate: 0 0;
  }

  to {
    translate: 100% 0;
  }
}

@keyframes ins_text_1 {
  0% {
    translate: 0 100%;
    opacity: 0;
  }

  50% {
    translate: 0 0%;
    opacity: 1;
  }

  75% {
    translate: 0 0%;
    opacity: 1;
  }

  100% {
    translate: 0 -100%;
    opacity: 0;
  }
}

@keyframes ins_text_2 {
  0% {
    translate: 0 0%;
    opacity: 0;
  }

  50% {
    translate: 0 -100%;
    opacity: 1;
  }

  75% {
    translate: 0 -100%;
    opacity: 1;
  }

  100% {
    translate: 0 -200%;
    opacity: 0;
  }
}

@keyframes ins_text_3 {
  0% {
    translate: 0 -100%;
    opacity: 0;
  }

  100% {
    translate: 0 -200%;
    opacity: 1;
  }
}

@supports not (animation-timeline: view()) {
  .inspire__section {
    height: 100vh;

    .inspoire__layout {

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.feature__section {

  .feature__container {

    .feature__layout {
      gap: 1rem;

      .feature__sub {
        padding: 1.5rem;
        min-height: 250px;
        background-color: var(--surface-color);
        background-repeat: no-repeat;
        background-size: auto 55%;
        background-position: bottom -25% right;
        border-radius: .5rem;

        @media (width >=992px) {
          padding: 2rem;
          min-height: 400px;
          background-size: auto 60%;
        }
      }

      .modular__component {
        background-image: url(/assets/image/home/feature/modular_component.webp);
      }

      .responsive__design {
        background-image: url(/assets/image/home/feature/responsive_design.webp);
      }

      .customizable {
        background-image: url(/assets/image/home/feature/customizable.webp);
      }

      .performance {
        background-image: url(/assets/image/home/feature/performance.webp);
      }

      .efficient__development {
        background-image: url(/assets/image/home/feature/efficient_development.webp);
      }

      .browser__compatibility {
        background-image: url(/assets/image/home/feature/browser_compatibility.webp);
      }
    }
  }
}

.benefit__section {
  display: none;
}

.edge__section {

  .edge__layout {
    
    view-timeline: --edge-sec;

    .edge__box {
      display: grid;
      place-content: center;
      padding: 1rem;
      background-color: rgba(var(--bg-color-rgb), .6);

      .edge__text {
        text-align: center;
        margin: unset;
        padding-block: 1rem;
       
        .imp {
          opacity: .8;
        }

        .other {
          opacity: .3;
          z-index: -1;
        }
      }
    }

    .edge__box_bg {
      width: calc(100% - var(--edge-offset-x,0px) * 2);
      margin-inline: auto;
      transition: .6s;
      background: linear-gradient(to right, #e0fcff,#b3f6ff,#e0fcff);
      animation: edge__grow forwards;
      animation-timeline: --edge-sec;
      animation-range: contain 0% contain 55%;

      [theme=dark] & {
        background: linear-gradient(to right, #90aeb1, #318a95, #90aeb1);
      }
    }
  }
}

@keyframes edge__grow {
  to {
    width: 100%;
  }
}


.cta__section {
    overflow: hidden;
    .cta__layout {
     
      align-content: center;

      .cta__text_block {
        padding-block: 2.5rem;
      }

      .cta__heading, .cta__sub_heading {
        text-align: center;
      }

      .cta__sub_heading {
        max-width: 60ch;
        margin-inline: auto;
      }

      .cta__btn {
        display: block;
        margin-inline: auto;
        margin-top: 1rem;
        width: fit-content;
      }

      img {
        border-radius: .5rem;
        box-shadow: rgba(0, 150, 255, 0.05) 0 0 100px;
      }

      .right {
        translate: -5%;
        justify-self: end;
      }

      .left {
        translate: 5%;
      }
    }
}

.sponsor__section {

  .sponsor__container {

    .sponsor__layout {
      min-height: 60vh;
      align-content: center;

      .sponsor__text {
        opacity: .3;
        text-align: center;
        margin-bottom: 1rem;
      }

      .sponsor__logo_wrapper {
        padding: 2rem 0;
        gap: 1rem;
        border-radius: .5rem;
        background: var(--surface-color);

        div {
          display: grid;
          place-content: center;

          h3 {
            margin: 0;
            opacity: .5;
          }
        }
      }

      .sponsor__btn {
        display: block;
        margin-inline: auto;
        width: fit-content;
        margin-top: 1rem;
      }
    }
  }
}

.bp__section {
  margin-bottom: 10rem;

  .bp__container {

    .bp__layout {

      .bp__quote,.bp__pra {
        text-align: center;
      }

      .bp__pra {
        max-width: 60ch;
        margin-inline: auto;
      }
    }
  }
}