.templates__section {

    .templates__hero_layout {

        .text__wrapper {
            margin-top: 5%;

            .templates__heading,
            .templates__subheading {
                text-align: center;

                &.templates__subheading {
                    max-width: 60ch;
                    margin-inline: auto;
                }
            }
        }
    }

    .templates__container {
        .templates__category_text {
            margin-block: 2.5rem .5rem;
        }

        .templates__layout {
            padding-block: .5rem !important;

            .templates__box {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .thumbnail {
                    border-radius: .5rem;
                }

                .templates__text {}
            }
        }

    }
}