:root {
    /* Slate Colors */
    --color-slate-50: hsl(210, 40%, 98%);
    --color-slate-100: hsl(210, 39%, 95%);
    --color-slate-200: hsl(210, 21%, 90%);
    --color-slate-300: hsl(210, 21%, 80%);
    --color-slate-400: hsl(210, 17%, 60%);
    --color-slate-500: hsl(210, 16%, 46%);
    --color-slate-600: hsl(210, 20%, 36%);
    --color-slate-700: hsl(210, 23%, 25%);
    --color-slate-800: hsl(210, 50%, 13%);
    --color-slate-900: hsl(210, 47%, 6%);
    --color-slate-950: hsl(210, 83%, 4%);

    /* Gray Colors */
    --color-gray-50: hsl(210, 100%, 98%);
    --color-gray-100: hsl(210, 47%, 96%);
    --color-gray-200: hsl(210, 29%, 89%);
    --color-gray-300: hsl(210, 24%, 76%);
    --color-gray-400: hsl(210, 12%, 63%);
    --color-gray-500: hsl(210, 12%, 45%);
    --color-gray-600: hsl(210, 12%, 35%);
    --color-gray-700: hsl(210, 15%, 27%);
    --color-gray-800: hsl(210, 50%, 11%);
    --color-gray-900: hsl(210, 40%, 6%);
    --color-gray-950: hsl(210, 50%, 1%);

    /* Zinc Colors */
    --color-zinc-50: hsl(0, 0%, 98%);
    --color-zinc-100: hsl(30, 33%, 95%);
    --color-zinc-200: hsl(30, 24%, 88%);
    --color-zinc-300: hsl(30, 17%, 81%);
    --color-zinc-400: hsl(30, 16%, 65%);
    --color-zinc-500: hsl(30, 15%, 45%);
    --color-zinc-600: hsl(30, 16%, 32%);
    --color-zinc-700: hsl(30, 16%, 25%);
    --color-zinc-800: hsl(30, 16%, 15%);
    --color-zinc-900: hsl(30, 16%, 9%);
    --color-zinc-950: hsl(30, 44%, 3%);

    /* Neutral Colors */
    --color-neutral-50: hsl(240, 0%, 98%);
    --color-neutral-100: hsl(240, 5%, 96%);
    --color-neutral-200: hsl(240, 6%, 85%);
    --color-neutral-300: hsl(240, 6%, 73%);
    --color-neutral-400: hsl(240, 6%, 55%);
    --color-neutral-500: hsl(240, 6%, 45%);
    --color-neutral-600: hsl(240, 6%, 32%);
    --color-neutral-700: hsl(240, 6%, 25%);
    --color-neutral-800: hsl(240, 6%, 15%);
    --color-neutral-900: hsl(240, 6%, 9%);
    --color-neutral-950: hsl(240, 50%, 2%);

    /* Stone Colors */
    --color-stone-50: hsl(42, 30%, 98%);
    --color-stone-100: hsl(42, 21%, 96%);
    --color-stone-200: hsl(40, 9%, 90%);
    --color-stone-300: hsl(36, 11%, 83%);
    --color-stone-400: hsl(30, 14%, 66%);
    --color-stone-500: hsl(30, 6%, 46%);
    --color-stone-600: hsl(30, 6%, 32%);
    --color-stone-700: hsl(30, 6%, 25%);
    --color-stone-800: hsl(30, 6%, 16%);
    --color-stone-900: hsl(30, 6%, 9%);
    --color-stone-950: hsl(30, 6%, 4%);

    /* Red Colors */
    --color-red-50: hsl(360, 100%, 99%);
    --color-red-100: hsl(360, 97%, 97%);
    --color-red-200: hsl(360, 96%, 95%);
    --color-red-300: hsl(360, 94%, 88%);
    --color-red-400: hsl(360, 96%, 78%);
    --color-red-500: hsl(360, 85%, 61%);
    --color-red-600: hsl(360, 77%, 49%);
    --color-red-700: hsl(360, 75%, 40%);
    --color-red-800: hsl(360, 73%, 34%);
    --color-red-900: hsl(360, 63%, 28%);
    --color-red-950: hsl(360, 77%, 15%);

    /* Orange Colors */
    --color-orange-50: hsl(37, 100%, 97%);
    --color-orange-100: hsl(37, 100%, 91%);
    --color-orange-200: hsl(37, 100%, 84%);
    --color-orange-300: hsl(37, 100%, 70%);
    --color-orange-400: hsl(37, 100%, 57%);
    --color-orange-500: hsl(37, 96%, 48%);
    --color-orange-600: hsl(37, 92%, 45%);
    --color-orange-700: hsl(37, 86%, 39%);
    --color-orange-800: hsl(37, 80%, 33%);
    --color-orange-900: hsl(37, 62%, 28%);
    --color-orange-950: hsl(37, 79%, 14%);

    /* Amber Colors */
    --color-amber-50: hsl(43, 100%, 97%);
    --color-amber-100: hsl(43, 96%, 88%);
    --color-amber-200: hsl(43, 92%, 75%);
    --color-amber-300: hsl(43, 92%, 61%);
    --color-amber-400: hsl(43, 91%, 49%);
    --color-amber-500: hsl(43, 91%, 41%);
    --color-amber-600: hsl(43, 92%, 34%);
    --color-amber-700: hsl(43, 94%, 31%);
    --color-amber-800: hsl(43, 88%, 28%);
    --color-amber-900: hsl(43, 77%, 26%);
    --color-amber-950: hsl(43, 91%, 8%);

    /* Yellow Colors */
    --color-yellow-50: hsl(53, 100%, 96%);
    --color-yellow-100: hsl(53, 100%, 86%);
    --color-yellow-200: hsl(53, 100%, 72%);
    --color-yellow-300: hsl(54, 97%, 56%);
    --color-yellow-400: hsl(54, 100%, 50%);
    --color-yellow-500: hsl(43, 92%, 47%);
    --color-yellow-600: hsl(39, 96%, 41%);
    --color-yellow-700: hsl(39, 91%, 32%);
    --color-yellow-800: hsl(39, 81%, 30%);
    --color-yellow-900: hsl(39, 72%, 25%);
    --color-yellow-950: hsl(34, 83%, 13%);

    /* Lime Colors */
    --color-lime-50: hsl(78, 100%, 96%);
    --color-lime-100: hsl(80, 96%, 87%);
    --color-lime-200: hsl(79, 95%, 74%);
    --color-lime-300: hsl(79, 88%, 58%);
    --color-lime-400: hsl(79, 73%, 47%);
    --color-lime-500: hsl(79, 80%, 38%);
    --color-lime-600: hsl(79, 84%, 31%);
    --color-lime-700: hsl(79, 81%, 25%);
    --color-lime-800: hsl(80, 75%, 22%);
    --color-lime-900: hsl(79, 64%, 18%);
    --color-lime-950: hsl(95, 91%, 9%);

    /* Green Colors */
    --color-green-50: hsl(144, 100%, 97%);
    --color-green-100: hsl(151, 100%, 91%);
    --color-green-200: hsl(145, 100%, 82%);
    --color-green-300: hsl(144, 100%, 66%);
    --color-green-400: hsl(137, 100%, 52%);
    --color-green-500: hsl(145, 57%, 42%);
    --color-green-600: hsl(145, 78%, 35%);
    --color-green-700: hsl(145, 71%, 29%);
    --color-green-800: hsl(145, 67%, 25%);
    --color-green-900: hsl(145, 62%, 22%);
    --color-green-950: hsl(144, 88%, 8%);

    /* Emerald Colors */
    --color-emerald-50: hsl(161, 100%, 97%);
    --color-emerald-100: hsl(159, 97%, 90%);
    --color-emerald-200: hsl(158, 91%, 77%);
    --color-emerald-300: hsl(156, 65%, 66%);
    --color-emerald-400: hsl(155, 57%, 47%);
    --color-emerald-500: hsl(157, 84%, 33%);
    --color-emerald-600: hsl(158, 93%, 28%);
    --color-emerald-700: hsl(157, 95%, 24%);
    --color-emerald-800: hsl(157, 88%, 22%);
    --color-emerald-900: hsl(157, 87%, 20%);
    --color-emerald-950: hsl(156, 91%, 8%);

    /* Teal Colors */
    --color-teal-50: hsl(169, 100%, 97%);
    --color-teal-100: hsl(168, 88%, 87%);
    --color-teal-200: hsl(166, 78%, 75%);
    --color-teal-300: hsl(169, 63%, 57%);
    --color-teal-400: hsl(172, 63%, 45%);
    --color-teal-500: hsl(173, 79%, 42%);
    --color-teal-600: hsl(175, 83%, 33%);
    --color-teal-700: hsl(175, 78%, 31%);
    --color-teal-800: hsl(175, 76%, 27%);
    --color-teal-900: hsl(175, 68%, 23%);
    --color-teal-950: hsl(171, 76%, 11%);

    /* Blue Colors */
    --color-blue-50: hsl(214, 100%, 98%);
    --color-blue-100: hsl(220, 100%, 94%);
    --color-blue-200: hsl(218, 100%, 90%);
    --color-blue-300: hsl(219, 100%, 79%);
    --color-blue-400: hsl(218, 100%, 63%);
    --color-blue-500: hsl(218, 100%, 53%);
    --color-blue-600: hsl(219, 100%, 45%);
    --color-blue-700: hsl(222, 100%, 40%);
    --color-blue-800: hsl(223, 100%, 37%);
    --color-blue-900: hsl(223, 100%, 33%);
    --color-blue-950: hsl(223, 100%, 15%);

    /* Sky Colors */
    --color-sky-50: hsl(200, 100%, 97%);
    --color-sky-100: hsl(203, 100%, 92%);
    --color-sky-200: hsl(197, 89%, 82%);
    --color-sky-300: hsl(201, 90%, 67%);
    --color-sky-400: hsl(202, 89%, 56%);
    --color-sky-500: hsl(200, 91%, 46%);
    --color-sky-600: hsl(199, 97%, 41%);
    --color-sky-700: hsl(200, 96%, 36%);
    --color-sky-800: hsl(202, 93%, 31%);
    --color-sky-900: hsl(203, 80%, 25%);
    --color-sky-950: hsl(203, 81%, 14%);

    /* Cyan Colors */
    --color-cyan-50: hsl(180, 100%, 97%);
    --color-cyan-100: hsl(187, 100%, 92%);
    --color-cyan-200: hsl(189, 100%, 81%);
    --color-cyan-300: hsl(192, 100%, 60%);
    --color-cyan-400: hsl(194, 100%, 52%);
    --color-cyan-500: hsl(191, 100%, 41%);
    --color-cyan-600: hsl(192, 91%, 35%);
    --color-cyan-700: hsl(192, 80%, 28%);
    --color-cyan-800: hsl(192, 70%, 25%);
    --color-cyan-900: hsl(193, 64%, 22%);
    --color-cyan-950: hsl(194, 80%, 16%);

    /* Indigo Colors */
    --color-indigo-50: hsl(240, 100%, 97%);
    --color-indigo-100: hsl(234, 100%, 94%);
    --color-indigo-200: hsl(234, 100%, 85%);
    --color-indigo-300: hsl(234, 100%, 76%);
    --color-indigo-400: hsl(234, 100%, 69%);
    --color-indigo-500: hsl(234, 100%, 65%);
    --color-indigo-600: hsl(234, 76%, 53%);
    --color-indigo-700: hsl(234, 70%, 51%);
    --color-indigo-800: hsl(234, 57%, 45%);
    --color-indigo-900: hsl(234, 48%, 36%);
    --color-indigo-950: hsl(235, 46%, 12%);

    /* Violet Colors */
    --color-violet-50: hsl(254, 100%, 98%);
    --color-violet-100: hsl(249, 100%, 96%);
    --color-violet-200: hsl(250, 100%, 93%);
    --color-violet-300: hsl(249, 100%, 85%);
    --color-violet-400: hsl(249, 100%, 74%);
    --color-violet-500: hsl(249, 100%, 60%);
    --color-violet-600: hsl(249, 92%, 49%);
    --color-violet-700: hsl(249, 68%, 44%);
    --color-violet-800: hsl(250, 57%, 40%);
    --color-violet-900: hsl(251, 45%, 36%);
    --color-violet-950: hsl(251, 59%, 14%);

    /* Purple Colors */
    --color-purple-50: hsl(270, 100%, 99%);
    --color-purple-100: hsl(274, 100%, 97%);
    --color-purple-200: hsl(275, 100%, 93%);
    --color-purple-300: hsl(271, 100%, 85%);
    --color-purple-400: hsl(271, 100%, 67%);
    --color-purple-500: hsl(271, 100%, 52%);
    --color-purple-600: hsl(271, 100%, 41%);
    --color-purple-700: hsl(271, 74%, 39%);
    --color-purple-800: hsl(271, 62%, 36%);
    --color-purple-900: hsl(271, 64%, 31%);
    --color-purple-950: hsl(271, 84%, 12%);

    /* Fuchsia Colors */
    --color-fuchsia-50: hsl(302, 100%, 98%);
    --color-fuchsia-100: hsl(302, 100%, 96%);
    --color-fuchsia-200: hsl(302, 100%, 94%);
    --color-fuchsia-300: hsl(303, 100%, 91%);
    --color-fuchsia-400: hsl(303, 97%, 85%);
    --color-fuchsia-500: hsl(303, 77%, 67%);
    --color-fuchsia-600: hsl(304, 71%, 49%);
    --color-fuchsia-700: hsl(306, 72%, 44%);
    --color-fuchsia-800: hsl(308, 67%, 39%);
    --color-fuchsia-900: hsl(309, 63%, 33%);
    --color-fuchsia-950: hsl(306, 85%, 15%);

    /* Pink Colors */
    --color-pink-50: hsl(340, 100%, 97%);
    --color-pink-100: hsl(337, 100%, 94%);
    --color-pink-200: hsl(337, 100%, 89%);
    --color-pink-300: hsl(337, 95%, 79%);
    --color-pink-400: hsl(337, 89%, 67%);
    --color-pink-500: hsl(336, 86%, 53%);
    --color-pink-600: hsl(336, 79%, 46%);
    --color-pink-700: hsl(337, 83%, 38%);
    --color-pink-800: hsl(337, 77%, 37%);
    --color-pink-900: hsl(337, 67%, 31%);
    --color-pink-950: hsl(337, 85%, 16%);

    /* Rose Colors */
    --color-rose-50: hsl(351, 100%, 98%);
    --color-rose-100: hsl(350, 100%, 95%);
    --color-rose-200: hsl(351, 100%, 89%);
    --color-rose-300: hsl(351, 100%, 77%);
    --color-rose-400: hsl(351, 100%, 62%);
    --color-rose-500: hsl(351, 97%, 49%);
    --color-rose-600: hsl(351, 87%, 44%);
    --color-rose-700: hsl(340, 84%, 38%);
    --color-rose-800: hsl(345, 80%, 39%);
    --color-rose-900: hsl(348, 70%, 32%);
    --color-rose-950: hsl(346, 85%, 19%);
}