card, .card {
  --padding: 1rem;
  --gap: .5rem;
  --radius: .5rem;
  --bg: var(--surface-color, rgb(250, 250, 250));
  --bg-modern: linear-gradient(145deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
  --blur: 15px;

  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  background: var(--bg);
  overflow: hidden;

  &:not(:has(.wrapper)), .wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 1.25);
    padding: var(--padding-y, var(--padding, .5rem)) var(--padding-x, var(--padding, .5rem));

    :last-child {
      margin-bottom: unset;
    }
  }

  &.horizontal {
    flex-direction: row;
  }

  &.r {
    --radius: 1rem;
  }

  &.modern {
    background: var(--bg-modern);
    backdrop-filter: blur(var(--blur));
  }

  &.between {
    justify-content: space-between;
  }

  .header, .main, .footer {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    &.center {
      justify-content: center;
    }

    &.end {
      justify-content: end;
    }

    &.between {
      justify-content: space-between;
    }

    &.grow {
      >button {
        flex-grow: 1;
      }
    }

    &.vertical {
      flex-direction: column;
    }

    &.horizontal {
      flex-direction: row;
    }

    :last-child {
      margin-bottom: unset;
    }
  }

  .inner-card {
    padding: calc(var(--padding) * .75);
    border-radius: max(calc(var(--radius) - var(--padding)), min(.2rem, var(--radius)));
  }
}