dialog {
  --edge-offset-x: .5rem;
  --edge-offset-y: .5rem;
  --padding-x: 1.5rem;
  --padding-y: 1.5rem;
  --gap: 1rem;
  --radius: .5rem;
  --bg: var(--surface-color, rgb(250, 250, 250));
  --animation-duration: .6s;

  position: fixed;
  inset-inline: var(--edge-offset-x, .5rem);
  inset-block: unset;
  padding: var(--padding-y, var(--padding, .5rem)) var(--padding-x, var(--padding, .5rem));
  width: min(calc(100% - var(--edge-offset-x, .5rem) * 2), clamp(500px, 30vw, 600px));
  border: var(--border, unset);
  border-radius: var(--radius);
  z-index: 5;
  background: var(--bg);
  backdrop-filter: blur(var(--blur));
  transform-origin: center top;
  animation: dialog-hide var(--animation-duration);

  @media (aspect-ratio >=21/9) and (width >=2000px) {
    --edge-offset-x: 15%;
  }

  @media (aspect-ratio >=32/9) and (width >=3000px) {
    --edge-offset-x: 25%;
  }


  &[open] {
    animation: dialog-show var(--animation-duration);

    .content {
      opacity: 0;
      animation: dialog-content-show calc(var(--animation-duration) * .25) forwards calc(var(--animation-duration) * .75);
    }
  }

  .content {
    display: grid;
    gap: var(--gap, .5rem);
    opacity: 1;
    animation: dialog-content-hide calc(var(--animation-duration) * .25) forwards;

    .header {
      display: flex;
      gap: var(--gap, .5rem);
      justify-content: space-between;

      .title {
        margin: unset;
      }

      .close {
       
      }
    }

    .main {
      &:last-child {
        margin: unset;
      }
    }

    .footer {
      display: flex;
      flex-wrap: wrap;
      gap: var(--gap, .5rem);

      &.middle {
        justify-content: center;
      }

      &.end {
        justify-content: end;
      }

      &.between {
        justify-content: space-between;
      }

      &.grow {
        >button {
          flex-grow: 1;
        }
      }

      &.vertical {
        flex-direction: column;
      }
    }
  }

  &:not(.bottom) {
    top: var(--edge-offset-y);
  }

  &.middle {
    inset-block: 0;
    transform-origin: center;
  }

  &.left {
    inset-inline: var(--edge-offset-x) auto;
    transform-origin: top left;
  }

  &.right {
    inset-inline: auto var(--edge-offset-x);
    transform-origin: top right;
  }

  &.bottom {
    bottom: var(--edge-offset-y);
    transform-origin: bottom center;
  }

  &.left.bottom, &.left.middle {
    transform-origin: bottom left;
  }

  &.right.bottom, &.right.middle {
    transform-origin: bottom right;
  }

  &.modern {
    --bg: linear-gradient(145deg, rgba(var(--bg-color-rgb), .6), rgba(var(--bg-color-rgb), .4));
    --blur: 15px;

    &~backdrop {
      --backdrop-bg: rgba(var(--bg-color-rgb), .3);
      --transition: .6s;
    }
  }
}


@keyframes dialog-show {
  0% {
    scale: 0;
    display: none;
  }

  100% {
    scale: 1;
    display: block;
  }
}

@keyframes dialog-hide {
  0% {
    scale: 1;
    display: block;
  }

  25% {
    scale: 1;
  }

  100% {
    scale: 0;
    display: none;
  }
}

@keyframes dialog-content-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dialog-content-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}