pagination, .pagination {
  --gap: .5rem;
  --radius: .25rem;
  --padding: .5rem;
  --item-padding: .75rem 1rem;
  --bg: var(--surface-color, rgb(250, 250, 250));
  --item-bg:  rgba(var(--bg-color-rgb), .6);
  --item-hover-bg: rgba(var(--bg-color-rgb), .9);
  --item-active-bg: rgb(var(--bg-color-rgb));
  --transition: .3s;

  display: flex;
  justify-content: center;
  padding: var(--padding);
  gap: var(--gap);
  background: var(--bg);

  .item {
    padding: var(--item-padding);
    background: var(--item-bg);
    line-height: 1;
    font-variant-numeric: tabular-nums;
    border-radius: var(--radius);
    cursor: pointer;
    user-select: none;
    transition: var(--transition);

    a {
      text-decoration: none;
      color: var(--color);
    }

    &.active {
      pointer-events: none;
      background: var(--item-active-bg);

      a {
        color: inherit;
      }
    }

    &.prev {
      a:empty {
        &::after {
          content: '<<';
          color: var(--color);
        }
      }
    }

    &.next {
      a:empty {
        &::after {
          content: '>>';
          color: var(--color);
        }
      }
    }

    &:active {
      scale: .8;
    }

    &:hover {
      background: var(--item-hover-bg);
    }
  }
}