pagination, .pagination {
  display: flex;
  justify-content: center;
  gap: var(--gap, .5rem);
  background-color: var(--bg);

  .item {
    padding: .75rem 1rem;
    background: var(--item-bg, rgba(var(--bg-color-rgb), .6));
    line-height: 1;
    font-variant-numeric: tabular-nums;
    border-radius: var(--radius, .25rem);
    cursor: pointer;
    user-select: none;
    transition: var(--transition, .3s);

    a {
      text-decoration: none;
      color: var(--color);
    }

    &.active {
      pointer-events: none;
      background: var(--item-active-bg, rgba(var(--bg-color-rgb), 1));

      a {
        color: inherit;
      }
    }

    &.prev {
      a:empty {
        &::after {
          content: '<<';
          color: var(--color);
        }
      }
    }

    &.next {
      a:empty {
        &::after {
          content: '>>';
          color: var(--color);
        }
      }
    }

    &:active {
      scale: .8;
    }

    &:hover {
      background: var(--item-hover-bg, rgba(var(--bg-color-rgb), .9));
    }
  }
}